In [1]:
# math library
import numpy as np
import pandas as pd

In [20]:
college_df = pd.read_csv('college_all.csv')
college_df.isnull().sum() #check for missing data
college_df.columns = ["Player","sos", "year","mp", "ts_pct","efg_pct","fg3a_per_fga_pct", "fta_per_fga_pct","ws_per_40",'g','gs','fg_per_min','fga_per_min','fg_pct','fg2_per_min','fg2a_per_min','fg2_pct','fg3_per_min','fg3a_per_min','fg3_pct','ft_per_min','fta_per_min','ft_pct','trb_per_min','ast_per_min', 'stl_per_min','blk_per_min', 'tov_per_min','pf_per_min','pts_per_min']

college_df = college_df.dropna(how='any').drop(columns = ['gs']) #remove column with many empty cells

print(college_df[college_df.isnull().any(axis=1)].shape) #amount of data to remove

(0, 29)

In [26]:
college_df.dropna(how='any').to_csv('collegenew.csv') #remove missing data

collegenew = pd.read_csv('collegenew.csv', index_col=0)

print("Are there any rows with empty cells?", collegenew.isnull().values.any() )

collegenew.head()

Are there any rows with empty cells? False

,Player,sos,year,mp,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,ws_per_40,g,...,ft_per_min,fta_per_min,ft_pct,trb_per_min,ast_per_min,stl_per_min,blk_per_min,tov_per_min,pf_per_min,pts_per_min
0,Marcus Camby,8.92,1996,1011.0,0.521,0.477,0.015,0.434,0.320,33,...,6.4,9.2,0.700,10.7,2.3,1.3,5.1,3.3,3.4,26.7
2,Stephon Marbury,12.71,1996,1345.0,0.574,0.543,0.463,0.319,0.127,36,...,3.6,4.9,0.738,3.4,4.8,1.9,0.1,3.4,2.4,20.2
3,Ray Allen,8.19,1996,1098.0,0.595,0.566,0.400,0.238,0.303,35,...,4.3,5.4,0.810,8.3,4.3,2.2,0.7,3.0,1.7,29.8
6,Kerry Kittles,11.46,1996,1059.0,0.564,0.537,0.406,0.305,0.210,30,...,3.9,5.5,0.710,8.0,4.0,2.7,0.4,2.1,1.7,23.2
9,Todd Fuller,7.98,1996,1044.0,0.586,0.524,0.097,0.515,0.235,31,...,7.0,8.8,0.799,11.8,1.5,0.4,2.1,2.8,1.8,24.9

In [27]:
collegenew.isnull().sum() #check new data for missing data

Player              0
sos                 0
year                0
mp                  0
ts_pct              0
efg_pct             0
fg3a_per_fga_pct    0
fta_per_fga_pct     0
ws_per_40           0
g                   0
fg_per_min          0
fga_per_min         0
fg_pct              0
fg2_per_min         0
fg2a_per_min        0
fg2_pct             0
fg3_per_min         0
fg3a_per_min        0
fg3_pct             0
ft_per_min          0
fta_per_min         0
ft_pct              0
trb_per_min         0
ast_per_min         0
stl_per_min         0
blk_per_min         0
tov_per_min         0
pf_per_min          0
pts_per_min         0
dtype: int64

In [5]:
nba_df = pd.read_csv('nba_all.csv', header=None)
nba_df.columns = ['Player','PER 1st', 'PER 2nd', 'Win Shares 1st','Win Shares 2nd', 'Win Shares per 48 min 1st','Win Shares per 48 min 2nd', 'BPM 1st', 'BPM 2nd','VORP 1st', 'VORP 2nd', 'Year Drafted']
nba_df = nba_df.drop(['Year Drafted'], axis=1) #remove duplicate column 
nba_df.head()

,Player,PER 1st,PER 2nd,Win Shares 1st,Win Shares 2nd,Win Shares per 48 min 1st,Win Shares per 48 min 2nd,BPM 1st,BPM 2nd,VORP 1st,VORP 2nd
0,Allen Iverson,18.0,20.4,4.1,9.0,0.065,0.138,1.5,3.8,2.7,4.6
1,Marcus Camby,17.8,15.9,3.7,0.9,0.095,0.022,-0.3,-0.7,0.8,0.7
2,Shareef Abdur-Rahim,17.4,21.1,2.9,6.9,0.049,0.113,-2.0,1.2,0.0,2.3
3,Stephon Marbury,16.1,16.3,3.7,5.3,0.077,0.082,-1.0,-0.6,0.6,1.1
4,Ray Allen,14.6,16.2,4.9,7.0,0.092,0.102,0.3,1.8,1.5,3.2

In [6]:
nba_df.isnull().sum() #check for missing data

Player                       0
PER 1st                      0
PER 2nd                      0
Win Shares 1st               0
Win Shares 2nd               0
Win Shares per 48 min 1st    0
Win Shares per 48 min 2nd    0
BPM 1st                      0
BPM 2nd                      0
VORP 1st                     0
VORP 2nd                     0
dtype: int64

In [15]:
result = pd.merge(nba_df, college_df, on=['Player', 'Player']) #merge NBA and college data based on player names
result.head()

,Player,PER 1st,PER 2nd,Win Shares 1st,Win Shares 2nd,Win Shares per 48 min 1st,Win Shares per 48 min 2nd,BPM 1st,BPM 2nd,VORP 1st,VORP 2nd,Win Shares(Col),Win Shares per 40 min(Col),Strength of Schedule(Col),Year Drafted
0,Allen Iverson,18.0,20.4,4.1,9.0,0.065,0.138,1.5,3.8,2.7,4.6,8.6,0.283,9.83,1996
1,Marcus Camby,17.8,15.9,3.7,0.9,0.095,0.022,-0.3,-0.7,0.8,0.7,8.1,0.320,8.92,1996
2,Shareef Abdur-Rahim,17.4,21.1,2.9,6.9,0.049,0.113,-2.0,1.2,0.0,2.3,5.4,0.221,6.44,1996
3,Stephon Marbury,16.1,16.3,3.7,5.3,0.077,0.082,-1.0,-0.6,0.6,1.1,4.3,0.127,12.71,1996
4,Ray Allen,14.6,16.2,4.9,7.0,0.092,0.102,0.3,1.8,1.5,3.2,8.3,0.303,8.19,1996

In [16]:

result.dropna(how='any').to_csv('merged_data.csv') #remove missing data